.row,
.row__big {
  /* margin: 1.5rem 0; */
  padding: 0 4%;
  height: 200px;
}

.row__big {
  margin-bottom: 270px;
}

.row__title {
  font-size: 1.4vw;
  font-weight: 700;
  margin: 10px 0;
  position: absolute;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  padding: 3rem 0;
}
