.movie {
  margin-right: 4px;
  border-radius: 5px;
  transition: transform 400ms;
}

.movie:hover {
  transform: scale(1.25);
  position: relative;
  z-index: 1;
  background-color: #141414;
}

.movie__image, .huge__image {
  width: 230px;
  border-radius: 5px;
}

.huge__image {
  object-fit: cover;
  height: 380px;
}

.movie:hover .movie__image {
  border-radius: 5px 5px 0 0;
}

.movie:hover .huge__image {
  border-radius: 5px;
}

.overlay {
  display: none;
  position: absolute;
  bottom: 0px;
}

.movie:hover .overlay {
  display: block;
  width: 100%;
}

.movie:hover .movie__image .overlay {
  display: block;
}
