.banner {
  background-size: cover;
  object-fit: contain;
  height: 710px;
  /* position: absolute; */
  /* z-index: -1; */
  /* top: 0; */
  /* margin-top: 0; */
}

.banner__content {
  padding-top: 15rem;
  padding-left: 4rem;

  /* position: relative; */
}

.banner__title {
  font-size: 5vw;
  margin: 0;
}

.banner__blurb {
  width: 28rem;
  font-size: 1.4vw;
  margin-bottom: 1.5rem;
}

.banner__buttons {
  display: flex;
}

.banner__buttons button {
  align-items: center;
  border-radius: 4px;
  padding: 0.4rem 1.5rem;
  margin-right: 0.8rem;
  border: none;
  font-weight: bold;
  font-size: 17px;
}

.button__play {
  display: flex;
  background-color: white;
  color: black;
}

.button__info {
  display: flex;
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.button__play:hover {
  background-color: #f4f4f4;
}

.button__info:hover {
  background-color: rgba(109, 109, 110, 0.5);
}

.button__icon {
  margin-right: 10px;
  font-size: 2rem !important;
}
